<div class="jumbotron text-center">
  <h1 class="display-3">Fitness Tracker</h1>
  <p class="lead">Keep Track Of Your Every Activity</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Register</a>
</div>